.Button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #000;
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;

    &:focus {
        outline: none;
    }

    &:active {
        box-shadow: inset 2px 2px 1px rgba($color: #000000, $alpha: 0.3);
    }

    &:disabled {
        background: #ccc;
        color: #000;
        cursor: not-allowed;
    }
}

.error {
    background: red;
}

.success {
    background: green;
}

.primary {
    background: #2884f6;
    color: #fff;
}
